@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
@import url(./fonts.css);


.unique-color-dark {
  background-color: #383838 !important;
}

.text-danger {
  color: #d35266;
}

.btn-danger {
  background-color: #d35266;
}

header {
  height: 50vh;
  background: rgb(211, 82, 102), url(../assets/images/cover.jpg);
  background: linear-gradient(180deg, rgba(211, 82, 102, 1) 0%, rgba(255, 255, 255, 0) 83%), url(../assets/images/cover.jpg);
  background-size: cover;
}

.btn-outline-secondary {
  border: 2px solid #d35266;
  color: #d35266 !important;
  background-color: transparent;
}

.btn-outline-secondary.active,
.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn-outline-secondary:hover,
.btn-outline-secondary:active:focus {
  background-color: transparent;
  color: #d35266;
  border-color: #d35266;
}

footer {
  font-family: "Helvetica-Neue-Medium", sans-serif;
  font-size: 14px;
  padding: 1em 0;
  background: #fff;
  color: #888;
}

footer .top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top: solid 1px #888;
  padding: 1.2em 4vw;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  footer .top {
    flex-direction: row;
  }
}

.carousel-nav-icon {
  height: 48px;
  width: 48px;
}

.carousel-item .col,
.col-sm,
.col-md {
  margin: 8px;
  height: 300px;
  background-size: cover;
  background-position: center center;
}

.btn {
  word-wrap: normal;
}

.w-20 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20% !important;
  flex: 0 0 20% !important;
  max-width: 20%;
}

h4, h5, h6 {
  font-family: 'Helvetica-medium', sans-serif;
}

h1{

  font-family: 'Helvetica-Bold', sans-serif;
}

.font-weight-bold{

  font-family: 'Helvetica-Bold', sans-serif !important;
}

.light{

  font-family: 'Helvetica-light', sans-serif !important;
}
